li{
    list-style-type: none;
}
ul{
    padding: 0px;
}
input[type="text"]{
    width: 300px;
}
button{
    border: none;
    background: transparent;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.anagrams input{
    margin-bottom: 10px;
}

.errorMessage{
    color: #a00;
}
